{% extends "accounts/base.html" %}

{% block title %}Anmeldung | AV Froburger{% endblock %}
{% block heading %}Anmeldung{% endblock %}

{% block content %}
  <p class="meta-row">Der interne Bereich ist nur fuer berechtigte Mitglieder verfuegbar.</p>
  <form method="post" class="stack">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-row">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="button">Anmelden</button>
  </form>
  <p class="meta-row"><a href="{% url 'accounts:password_reset' %}">Passwort vergessen?</a></p>
  <p class="meta-row"><a href="mailto:info@avfroburger.ch?subject=Zugang%20Mitgliederbereich">Zugang anfragen</a></p>
{% endblock %}
