{% extends "accounts/base.html" %}

{% block title %}Passwort aendern | AV Froburger{% endblock %}
{% block heading %}Passwort aendern{% endblock %}

{% block content %}
  <form method="post" class="stack">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-row">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="button">Passwort speichern</button>
  </form>
{% endblock %}
